@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html,
  body,
  #root {
    @apply h-full;
  }
  #root {
    @apply flex flex-col;
  }
  main {
    @apply grow;
  }
  .custom_hover_image {
    @apply invisible absolute right-0 mr-3 mt-2 grid h-5 w-5 place-items-center rounded bg-white opacity-0 hover:cursor-pointer group-hover:visible group-hover:opacity-100 md:mr-3 md:mt-5 md:h-8 md:w-8;
  }
  .download_trash_icon_classes {
    @apply absolute bottom-2 right-0 mr-3 mt-5 grid h-6 w-6 place-items-center rounded bg-slate-200 group-hover:visible md:invisible md:h-8 md:w-8 md:opacity-0 md:hover:cursor-pointer md:group-hover:opacity-100;
  }
  .user_info_classes {
    @apply invisible absolute bottom-[2px] left-2 mr-3 mt-5 flex h-8 place-items-center rounded px-2 opacity-0 hover:cursor-pointer group-hover:visible group-hover:opacity-100 md:bottom-2;
  }
  @layer components {
    [data-theme="dracula"] .myPharagrap {
      @apply text-customParagraphColor;
    }
    [data-theme="dracula"] .bgDarkBlack {
      @apply bg-bgColorCard;
    }
    [data-theme="dracula"] .aboutText {
      @apply text-white;
    }
  }
}
